asgiref
Django
sqlparse==0.4.4
tzdata==2023.3
psycopg2-binary== 2.9.10
django-crispy-forms
crispy-bootstrap5
django-allauth==65.7.0
environs==14.1.1
pillow==11.2.1
django-debug-toolbar==4.2.0
whitenoise==6.6.0
dj-database-url
python-dotenv==1.0.0
djangorestframework
requests
beautifulsoup4
Unidecode
# python-slugify
django-cors-headers
bleach

