{% extends "_base.html" %}
{% block title %}{{ book.title }}{% endblock title %}

{% block content %}
<div class="container_detail">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ book.cover.url }}" class="img-fluid rounded-start" alt="{{ book.title }}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">Author: {{ book.author }}</p>
          <p class="card-text">{{ book.description }}</p>
          <p class="card-text button">
            <span class="genre_text">Genres:</span>
            {% for genre in book.genres.all %}
            <button class="genre-button">{{ genre.name }}</button>
            {% empty %}
                No genres found.
            {% endfor %}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div>
    <h3>Reviews</h3>
    <ul class="list-group">
      {% for review in book.reviews.all %}
      <li class="list-group-item">{{ review.review }} ({{ review.author }})</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock content %}
{% include "footer.html" %}